.App {
  display: grid;
  grid-template-areas: "Nav Nav"
                       "Finder FavoriteList"
                       "Weather  FavoriteList";
}

.App > .nav {
  grid-area: Nav;
}

.App > .Finder {
  grid-area: Finder;
}

.App > .Weather {
  grid-area: Weather;
}

.App > .FavoriteList {
  grid-area: FavoriteList;
}
