.App {
  display: grid;
  grid-template-areas: "Header Header"
                       "Finder FavoriteList"
                       "Weather  FavoriteList";
}

.App > .Header {
  grid-area: Header;
}

.App > .Finder {
  grid-area: Finder;
}

.App > .Weather {
  grid-area: Weather;
}

.App > .FavoriteList {
  grid-area: FavoriteList;
}
